<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Control Data</title>
</head>
<body>
<h1>Get control time data</h1>
<form role="form" action="/listdata" method="POST">
    <div>
        <h4>Select output format:</h4>
        <input type="radio" id="json" name="dtype" value="json">
        <label for="json">JSON</label><br>
        <input type="radio" id="csv" name="dtype" value="csv">
        <label for="csv">CSV</label>
    </div>
    <div>
        <h4>Display only the # of controls?</h4>
        <label for="topk">Top #:</label><br>
        <input type="text" id="topk" name="topk">
    </div>
    <div>
        <h4>Select data to output:</h4>
        <input type="submit" name="which" id="listAll" value="listAll">
        <input type="submit" name="which" id="listOpenOnly" value="listOpenOnly">
        <input type="submit" name="which" id="listCloseOnly" value="listCloseOnly">
    </div>
</form>
</body>
</html>